{% extends "base.html" %}
{% block title %}Company Announcements{% endblock %}

{% block h1 %}Birthdays of {{ today.month }}/{{ today.year }}{% endblock %}
{% block main %}
    {% include 'flash-messages.html' %}

    <p>{{ today.month }}/{{ today.year }}</p>
    <ol>
        {% for user in users %}
        {% if user.birthday.month == today.month %}
        <li>{{ user.birthday.strftime('%m/%d/%Y') }} - {{ user.fname }} {{ user.lname }}</li>
        {% endif %}
        {% endfor %}
    </ol>

    {% include 'display-users.html' %}
{% endblock %}
